    <!-- PAGE FOOTER -->
<div class="page-footer"  >
    <div class="row">
        <div class="col-xs-12 col-sm-6">
          <span class="txt-color-white">@Settings.Company <span class="hidden-xs"> - @Settings.Project</span> © 2011-2019  <a href="http://beian.miit.gov.cn">工业和信息化部备案管理系统网站 粤ICP备19160217号</a></span>
        </div>

        
    </div>
</div>
<!-- END PAGE FOOTER -->